<div>
  <h1 class="text-xl font-medium mb-4">Solid Buttons</h1>
  <div class="flex gap-2 flex-wrap">
    <button-item [label]="'Primary'" [addClass]="'btn-primary'"></button-item>
    <button-item [label]="'Info'" [addClass]="'btn-info'"></button-item>
    <button-item [label]="'Success'" [addClass]="'btn-success'"></button-item>
    <button-item [label]="'Warning'" [addClass]="'btn-warning'"></button-item>
    <button-item [label]="'Error'" [addClass]="'btn-error'"></button-item>
  </div>

  <h1 class="text-xl font-medium my-4">Soft Buttons</h1>
  <div class="flex gap-2 flex-wrap">
    <button-item
      [label]="'Primary'"
      [addClass]="'btn-primary btn-soft'"
    ></button-item>
    <button-item
      [label]="'Info'"
      [addClass]="'btn-info btn-soft'"
    ></button-item>
    <button-item
      [label]="'Success'"
      [addClass]="'btn-success btn-soft'"
    ></button-item>
    <button-item
      [label]="'Warning'"
      [addClass]="'btn-warning btn-soft'"
    ></button-item>
    <button-item
      [label]="'Error'"
      [addClass]="'btn-error btn-soft'"
    ></button-item>
  </div>

  <h1 class="text-xl font-medium my-4">Outline Buttons</h1>
  <div class="flex gap-2 flex-wrap">
    <button-item
      [label]="'Primary'"
      [addClass]="'btn-primary btn-outline'"
    ></button-item>
    <button-item
      [label]="'Info'"
      [addClass]="'btn-info btn-outline'"
    ></button-item>
    <button-item
      [label]="'Success'"
      [addClass]="'btn-success btn-outline'"
    ></button-item>
    <button-item
      [label]="'Warning'"
      [addClass]="'btn-warning btn-outline'"
    ></button-item>
    <button-item
      [label]="'Error'"
      [addClass]="'btn-error btn-outline'"
    ></button-item>
  </div>

  <h1 class="text-xl font-medium my-4">Text Buttons</h1>
  <div class="flex gap-2 flex-wrap">
    <button-item
      [label]="'Primary'"
      [addClass]="'btn-primary btn-text'"
    ></button-item>
    <button-item
      [label]="'Info'"
      [addClass]="'btn-info btn-text'"
    ></button-item>
    <button-item
      [label]="'Success'"
      [addClass]="'btn-success btn-text'"
    ></button-item>
    <button-item
      [label]="'Warning'"
      [addClass]="'btn-warning btn-text'"
    ></button-item>
    <button-item
      [label]="'Error'"
      [addClass]="'btn-error btn-text'"
    ></button-item>
  </div>

  <h1 class="text-xl font-medium my-4">Gradient Buttons</h1>
  <div class="flex gap-2 flex-wrap">
    <button-item
      [label]="'Primary'"
      [addClass]="'btn-primary btn-gradient'"
    ></button-item>
    <button-item
      [label]="'Info'"
      [addClass]="'btn-info btn-gradient'"
    ></button-item>
    <button-item
      [label]="'Success'"
      [addClass]="'btn-success btn-gradient'"
    ></button-item>
    <button-item
      [label]="'Warning'"
      [addClass]="'btn-warning btn-gradient'"
    ></button-item>
    <button-item
      [label]="'Error'"
      [addClass]="'btn-error btn-gradient'"
    ></button-item>
  </div>
</div>
